html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --background-color: #e8e8e8;
    --color: #606060;
    --shadow-color-1: #d8d8d8;
    --shadow-color-2: #f8f8f8;
    --button-background-color: #b5cec9;
    --button-color: #075a4b;
}
  
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #202020;
        --color: #c0c0c0;
        --shadow-color-1: #080808;
        --shadow-color-2: #303030;
        --button-background-color: #075a4b;
        --button-color: #b5cec9;
    }  
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: auto;
    max-width: 1080px;
    padding: 20px;
}

.grid_intro, .grid_experience, .grid_education, .grid_skills, .grid_capstone {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 25px;
    grid-template-columns: 1fr;
}
.container {
    background-color: var(--background-color);
    border-radius: 30px;
    box-shadow: 5px 5px 10px var(--shadow-color-1), -5px -5px 10px var(--shadow-color-2);
    padding: 5px 20px;
}

.grid_intro {
    grid-template-columns: 1fr 2fr;
}
.grid_intro div:nth-child(1) {
    border-radius: 50%;
    box-shadow: inset 5px 5px 10px var(--shadow-color-1), inset -5px -5px 10px var(--shadow-color-2);
    grid-column: 1/2;
    grid-row: 1/3;
    max-height: 200px;
    max-width: 200px;
    padding: 20px;
    place-self: center;
}
.img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.grid_intro div:nth-child(2) {
    box-shadow: none;
}
.h3_margin {
    margin: -20px 0px 0px 0px;
}

.ul_padding {
    padding-left: inherit;
}

.grid_skills {
    grid-template-columns: 1fr 1fr;
}
.grid_skills div:nth-child(1) {
    grid-column: 1/-1;
}

.badge_pill {
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: inset 3px 3px 6px var(--shadow-color-1), inset -3px -3px 6px var(--shadow-color-2);
    color: var(--color);
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    margin: 0px 6px 0px 0px;
    padding: 5px 12px;
}
.badge_rectangle {
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 3px 3px 6px var(--shadow-color-1), -3px -3px 6px var(--shadow-color-2);
    color: var(--color);
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    margin: 0px 6px 16px 0px;
    padding: 4px 10px;
}

.button, .button_small, .button_fab {
    background-color: var(--button-background-color);
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 6px var(--shadow-color-1), -3px -3px 6px var(--shadow-color-2);
    color: var(--button-color);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 6px 16px 0px;
    padding: 8px 18px;
    transition: 0.3s ease-in-out;
}
.button_small {
    font-size: 13px;
    margin: 0px 6px 0px 0px;
    padding: 6px 14px; 
}

.button_fab {
    border-radius: 50%;
    bottom: 20px;  
    height: 60px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 20px;
    width: 60px;  
}
.material-symbols-outlined {
    font-size: 45px;
    margin-top: 2px;
    transition: transform 0.3s ease-in-out;
}
.fab_menu {
    bottom: 35px;
    list-style: none;
    opacity: 0;
    position: fixed;
    right: 15px;
    text-align: right;
    transition: 0.3s ease-in-out;
    visibility: hidden;
}

.button_small:hover, .button:hover, .button_fab:hover {
    background-color: var(--background-color);
    box-shadow: inset 3px 3px 6px var(--shadow-color-1), inset -3px -3px 6px var(--shadow-color-2);
}
.button_fab:hover .material-symbols-outlined {
  transform: rotate(180deg);
}
.button_fab:hover + .fab_menu, .fab_menu:hover {
    opacity: 1;
    transform: translateY(-30px);
    visibility: visible;
}

@media (max-width: 720px) {
    .grid_intro, .grid_skills {
        grid-template-columns: 1fr;
    }
    .grid_intro div:nth-child(2) {
        text-align: center;
    }
    .h1_margin {
        margin-top: -15px;
    }
}